.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 80px;
}
.search-bar_logo {
    display: flex;
    align-items: center;
}
.fa-instagram {
    font-size: 30px;
    padding-right: 10px;
    border-right: 1px solid black;
}
.instagram-text {
    font-family: 'Lobster Two', cursive;
    padding: 10px;
}
.search-input {
    width: 300px;
    border-radius: 5px;
    padding: 5px;
}
.search-icons {
    display: flex;
    font-size: 30px;
}

