.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgrey;
}
.search-bar_logo {
    display: flex;
    align-items: center;
    margin-left: 250px;
}
.fa-instagram {
    font-size: 25px;
    padding-right: 20px;
    border-right: 1px solid grey;
}
.instagram-text {
    font-family: 'Lobster Two', cursive;
    padding: 10px;
    font-size: 1.5rem;
    padding-left: 15px;
}
.search-input {
    width: 200px;
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 0px 100px 0px 100px;
}
.fa-heart {
    padding: 10px;
}
.fa-compass {
    padding: 10px;
}
.fa-comment {
    padding: 10px;
}
.fa-user {
    padding: 10px;
}
.search-icons {
    display: flex;
    font-size: 25px;
    margin-right: 250px;
}

